body {
	margin:0;
	padding:0;
	overflow:hidden;
	background:url(../images/login_03.gif) repeat-x #152753;
	font-size: 12px;
	color: #adc9d9;
}
#top {
	margin: 0 auto;
	clear:both;
	height:318px;
	width:847px;
	background:url(../images/login_04.gif) no-repeat;
}
#center {
	height:84px;
	text-align:center;
}
#center_left {
	margin-left:216px;
	float:left;
	background:url(../images/login_06.gif) no-repeat;
	height:84px;
	width:381px;
}
/* IE7 HACK*/
*+html #center_left {
	margin-left:206px !important;
}
/* END HACK*/
#center_middle {
	float:left;
	background:url(../images/login_07.gif) no-repeat;
	height:84px;
	width:162px;
}
#center_middle_right {
	float:left;
	background:url(../images/login_08.gif) no-repeat;
	height:84px;
	width:26px;
}
#center_submit {
	float:left;
	background:url(../images/login_09.gif) no-repeat;
	height:84px;
	width:67px;
}
#center_right {
	float:left;
	background:url(../images/login_10.gif) no-repeat;
	height:84px;
	width:211px;
}
#footer {
	margin:0 auto;
	background:url(../images/login_11.gif) no-repeat;
	height:206px;
	width:847px;
}
INPUT {
	width:100px;
	height:17px;
	background-color:#87adbf;
	border:solid 1px #153966;
	font-size:12px;
	color:#283439;
}
.chknumber_input {
	width:40px;
}
.user {
	margin: 6px auto;
}
/* IE7 HACK*/
*+html .user {
	margin: 4px auto;
}
/* END HACK*/
.chknumber {
	margin-bottom:3px;
	text-align:left;
	padding-left:3px
}
.button {
	margin: 15px auto;
}
IMG {
	border:none;
	cursor:pointer;
}
FORM {
	margin:0;
	padding:0
}