@CHARSET "UTF-8";

#personInfoUpdateContainer {
	border: 10px;
	border: red;
}

#personInfoUpdateContainer #personInfoUpdateTitle{
	 background-color: #343F44;
	 width: 1200px;
	 height: 25px;

}

#personInfoUpdateContainer #personInfoUpdateTitle #titleText{
	 color: #FFFFFF;
	 font-size: 14px;
	 background-color: #343F44;
	 width: 1180px;
	 height: 20px;
	 padding-top: 5px;
	 padding-left: 20px;

}

#personInfoUpdateContainer #personInfoUpdateMain {
	width: 1198px;
	 height: 1000px;
	 border: solid;
	 border-width: 1px;
   	border-color: #A0C8CA;
	margin-top: 5px;
	font-size: 14px;
}

#personInfoUpdateContainer #personInfoUpdateMain table {
	width:800px;
 	
}

#personInfoUpdateContainer #personInfoUpdateMain table tr  {
	height: 30px;
}


#personInfoUpdateContainer #personInfoUpdateMain table tr .tdLeft .tdLeftText {
	text-align: right;
   	padding-right: 10px;
}

#personInfoUpdateContainer #personInfoUpdateMain table tr .tdRight  {
	margin-left: 20px;
	
}

#personInfoUpdateContainer #personInfoUpdateMain table tr .tdRight input{
	color: #2B4D4B;
	
}

#personInfoUpdateContainer #personInfoUpdateMain table tr .tdRight select{
	color: #2B4D4B;
	
}

#personInfoUpdateContainer #personInfoUpdateMain table .submitButton {
    	width:75px;
		height:23px;
		text-align:center;
		color: black;
		border-top-left-radius:3px;
		border-top-right-radius:3px;
		border-bottom-left-radius:3px;
		border-bottom-right-radius:3px;
		background-color: #A0C8CA;
		border: 0px;
	
}



