<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>personnel</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- ======================================comm =================================================================== -->
    <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>org.jsoft.comm.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index.do</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>JumpServlet</servlet-name>
    <servlet-class>org.jsoft.comm.servlet.JumpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JumpServlet</servlet-name>
    <url-pattern>/jump.do</url-pattern>
  </servlet-mapping>
    <filter>
    <display-name>EncodeFilter</display-name>
    <filter-name>EncodeFilter</filter-name>
    <filter-class>org.jsoft.comm.filter.EncodeFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
    <servlet>
    <description></description>
    <display-name>SelectCons</display-name>
    <servlet-name>SelectCons</servlet-name>
    <servlet-class>org.jsoft.comm.servlet.SelectCons</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectCons</servlet-name>
    <url-pattern>/SelectCons</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>SelectConsServlet</servlet-name>
    <servlet-class>org.jsoft.comm.servlet.SelectConsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectConsServlet</servlet-name>
    <url-pattern>/Select.do</url-pattern>
  </servlet-mapping>
      <servlet>
    <servlet-name>LogServlet</servlet-name>
    <servlet-class>org.jsoft.comm.servlet.LogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogServlet</servlet-name>
    <url-pattern>/log.do</url-pattern>
  </servlet-mapping>
 <filter>
    <display-name>SystemFilter</display-name>
    <filter-name>SystemFilter</filter-name>
    <filter-class>org.jsoft.comm.filter.SystemFilter</filter-class>

  </filter>
  <filter-mapping>
    <filter-name>SystemFilter</filter-name>
    <url-pattern>*.sys</url-pattern>
  </filter-mapping> 
  
  <filter>
    <display-name>InformationFilter</display-name>
    <filter-name>InformationFilter</filter-name>
    <filter-class>org.jsoft.comm.filter.InformationFilter</filter-class>

  </filter>
  <filter-mapping>
    <filter-name>InformationFilter</filter-name>
    <url-pattern>*.inf</url-pattern>
  </filter-mapping> 
  <filter>
    <display-name>ManagerFilter</display-name>
    <filter-name>ManagerFilter</filter-name>
    <filter-class>org.jsoft.comm.filter.ManagerFilter</filter-class>

  </filter>
  <filter-mapping>
    <filter-name>ManagerFilter</filter-name>
    <url-pattern>*.man</url-pattern>
  </filter-mapping> 
  <filter>
    <display-name>PersonFilter</display-name>
    <filter-name>PersonFilter</filter-name>
    <filter-class>org.jsoft.comm.filter.PersonFilter</filter-class>

  </filter>
  <filter-mapping>
    <filter-name>PersonFilter</filter-name>
    <url-pattern>*.per</url-pattern>
  </filter-mapping> 
    <filter>
    <display-name>SalaryFilter</display-name>
    <filter-name>SalaryFilter</filter-name>
    <filter-class>org.jsoft.comm.filter.SalaryFilter</filter-class>

  </filter>
  <filter-mapping>
    <filter-name>SalaryFilter</filter-name>
    <url-pattern>*.sal</url-pattern>
  </filter-mapping> 
  

  
  <!-- ======================================comm =================================================================== -->
  
  
  <!-- ======================================system =================================================================== -->

    <servlet>
    <servlet-name>BakServlet</servlet-name>
    <servlet-class>org.jsoft.system.servlet.BakServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BakServlet</servlet-name>
    <url-pattern>/bak.sys</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>InitDataBaseServlet</servlet-name>
    <servlet-class>org.jsoft.system.servlet.InitDataBaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitDataBaseServlet</servlet-name>
    <url-pattern>/initDataBaseServlet.sys</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>org.jsoft.system.servlet.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/menu.sys</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>OperateLogServlet</servlet-name>
    <servlet-class>org.jsoft.system.servlet.OperateLogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperateLogServlet</servlet-name>
    <url-pattern>/operateLog.sys</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <servlet-name>DictionServlet</servlet-name>
    <servlet-class>org.jsoft.system.servlet.DictionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DictionServlet</servlet-name>
    <url-pattern>/diction.sys</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <servlet-name>OperaterManageServelet</servlet-name>
    <servlet-class>org.jsoft.system.servlet.OperaterManageServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperaterManageServelet</servlet-name>
    <url-pattern>/operatermanage.sys</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>OperateServlet</servlet-name>
    <servlet-class>org.jsoft.system.servlet.OperateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperateServlet</servlet-name>
    <url-pattern>/operate.sys</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>DpwdServlet</display-name>
    <servlet-name>DpwdServlet</servlet-name>
    <servlet-class>org.jsoft.system.servlet.DpwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DpwdServlet</servlet-name>
    <url-pattern>/DpwdServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <servlet-name>DeptServlet</servlet-name>
    <servlet-class>org.jsoft.system.servlet.DeptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeptServlet</servlet-name>
    <url-pattern>/dept.sys</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <servlet-name>BasicChooseServlet</servlet-name>
    <servlet-class>org.jsoft.system.servlet.BasicChooseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasicChooseServlet</servlet-name>
    <url-pattern>/basicChoose.sys</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>DutyServlet</servlet-name>
    <servlet-class>org.jsoft.system.servlet.DutyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DutyServlet</servlet-name>
    <url-pattern>/duty.sys</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>JobServlet</servlet-name>
    <servlet-class>org.jsoft.system.servlet.JobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobServlet</servlet-name>
    <url-pattern>/job.sys</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>EncorchastServlet</servlet-name>
    <servlet-class>org.jsoft.system.servlet.EncorchastServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EncorchastServlet</servlet-name>
    <url-pattern>/encorchast.sys</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>Dept_job_relServlet</servlet-name>
    <servlet-class>org.jsoft.system.servlet.Dept_job_relServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dept_job_relServlet</servlet-name>
    <url-pattern>/djr.sys</url-pattern>
  </servlet-mapping>
  <!-- ======================================system =================================================================== -->
  
  <!-- ======================================information ============================================================= -->
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>org.jsoft.information.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user_info.inf</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>PageServlet</display-name>
    <servlet-name>PageServlet</servlet-name>
    <servlet-class>org.jsoft.information.servlet.PageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageServlet</servlet-name>
    <url-pattern>/page.inf</url-pattern>
  </servlet-mapping>
  <!-- ======================================information ============================================================ -->
  
  <!-- ======================================salary ============================================================ -->
    <servlet>
    <servlet-name>DepartmentPBServlet</servlet-name>
    <servlet-class>org.jsoft.salary.servlet.DepartmentPBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentPBServlet</servlet-name>
    <url-pattern>/departmentPB.sal</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <servlet-name>SalaryServlet</servlet-name>
    <servlet-class>org.jsoft.salary.servlet.SalaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalaryServlet</servlet-name>
    <url-pattern>/salarymanage.sal</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <servlet-name>SearchPayRollServlet</servlet-name>
    <servlet-class>org.jsoft.salary.servlet.SearchPayRollServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPayRollServlet</servlet-name>
    <url-pattern>/searchPayRoll.sal</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>SetofBookServlet</servlet-name>
    <servlet-class>org.jsoft.salary.servlet.SetofBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetofBookServlet</servlet-name>
    <url-pattern>/setofbook.sal</url-pattern>
  </servlet-mapping>
  <!-- ======================================salary ============================================================ -->
  
  <!-- ======================================management ============================================================ -->
    <servlet>
    <servlet-name>MntScoreServlet</servlet-name>
    <servlet-class>org.jsoft.management.servlet.MntScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MntScoreServlet</servlet-name>
    <url-pattern>/mntScore.man</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>MntAllServlet</servlet-name>
    <servlet-class>org.jsoft.management.servlet.MntAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MntAllServlet</servlet-name>
    <url-pattern>/mntAll.man</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>managementJumpServlet</servlet-name>
    <servlet-class>org.jsoft.management.servlet.managementJumpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managementJumpServlet</servlet-name>
    <url-pattern>/managementJump.man</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>PersonnelManagementServlet</display-name>
    <servlet-name>PersonnelManagementServlet</servlet-name>
    <servlet-class>org.jsoft.management.servlet.PersonnelManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonnelManagementServlet</servlet-name>
    <url-pattern>/personnelManagement.man</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>PersonnelRecordsServlet</display-name>
    <servlet-name>PersonnelRecordsServlet</servlet-name>
    <servlet-class>org.jsoft.management.servlet.PersonnelRecordsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonnelRecordsServlet</servlet-name>
    <url-pattern>/personnelRecords.man</url-pattern>
  </servlet-mapping>
  <!-- ======================================management ============================================================ -->
  
  <!-- ======================================person ============================================================ -->
  
    <servlet>
    <servlet-name>PersonInfoServlet</servlet-name>
    <servlet-class>org.jsoft.person.servlet.PersonInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonInfoServlet</servlet-name>
    <url-pattern>/personInfo.per</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>PersonTrainServlet</servlet-name>
    <servlet-class>org.jsoft.person.servlet.PersonTrainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonTrainServlet</servlet-name>
    <url-pattern>/personTrain.per</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>PersonAdjustSalaryServlet</servlet-name>
    <servlet-class>org.jsoft.person.servlet.PersonAdjustSalaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonAdjustSalaryServlet</servlet-name>
    <url-pattern>/personAdjustSalary.per</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>PersonEOCServlet</servlet-name>
    <servlet-class>org.jsoft.person.servlet.PersonEOCServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonEOCServlet</servlet-name>
    <url-pattern>/personEOC.per</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>PersonnelRemoveServlet</display-name>
    <servlet-name>PersonnelRemoveServlet</servlet-name>
    <servlet-class>org.jsoft.person.servlet.PersonnelRemoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonnelRemoveServlet</servlet-name>
    <url-pattern>/personnelRemove.per</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>PersonAppraiseServlet</display-name>
    <servlet-name>PersonAppraiseServlet</servlet-name>
    <servlet-class>org.jsoft.person.servlet.PersonAppraiseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonAppraiseServlet</servlet-name>
    <url-pattern>/personAppraise.per</url-pattern>
  </servlet-mapping>
  <!-- ======================================person ============================================================ -->
</web-app>